@require '../../utils/styl/variables.styl'
@require '../../utils/styl/mixins.styl'

.form
  &__field
    margin-bottom 20px

  &__label
    font 300 16px font-family-add
    display block
    margin-bottom 4px

  &__input,
  &__textarea
    placeholder(#999)
    color #999
    font 400 16px font-family-add
    line-height 1.5
    width 290px
    padding 8px 10px
    border 1px solid rgba(0, 0, 0, 0.2)
    border-radius 3px

    &:focus
      outline: none

    &.error
      border-color #c41230

  &__input
    width 260px

  &__textarea
    width 100%
    min-height 90px
    box-sizing border-box
    resize none
    vertical-align top

  &__input-error
    font-size 14px
    color #c41230
    height 12px
    margin 0 0 4px 8px
