@require '../../utils/styl/variables.styl'
@require '../../utils/styl/mixins.styl'

.form
  &__controls
    margin-top 25px

  &__tips
    font 300 13px font-family-add
    line-height 1.5
    display block
    margin 0 0 20px 0
