@require '../../utils/styl/variables.styl'
@require '../../utils/styl/mixins.styl'

.page-footer
  background-color color-main
  padding 12px 0
  box-shadow 0 -1px 5px rgba(30, 30, 30, 0.25)

  .copyright
    width 80%
    display inline-block
    vertical-align middle
    margin-right 80px

    &__text
      color font-color-light
      font 300 14px font-family-add
      line-height 1.7
      margin 0
